<h1 align="center" class="user-title">Log in</h1>
<div class='row'>
  <div class= 'col-sm-12 mx-auto'>
    <%= form_for :session, url: login_path do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-1 ml-md-auto">
          <%= f.label :email %>
          </div>
          <div class= "col-sm-8 mr-md-auto">
          <%= f.text_field :email, class:"form-control", placeholder: "Enter your email" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-1 ml-md-auto">
          <%= f.label :password %>
          </div>
          <div class= "col-sm-8 mr-md-auto">
          <%= f.password_field :password, class:"form-control", autocomplete: "off" %>
          </div>
        </div>
      </div>
      <div class="col-1 create-btn update-btn mx-auto">
        <%= f.submit "Log in", class: "btn btn-danger btn-lg" %>
      </div>
    <%end%>
  </div>
</div>