<h1 align="center" class="list-title">Listing all articles</h1>
<% @articles.each do |article| %>
  <div class="row">
    <div class="col-md-8 ml-md-auto mr-md-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <%=link_to article.title, article_path(article)%>
          </h4>
          <div class="card-text">
            <%= truncate(article.description, length: 100) %>
            <div class="article_meta_data">
              <small>
                Created by: <%= article.user.username if article.user %>,
                <%= time_ago_in_words(article.created_at) %> ago,
                last updated: <%= time_ago_in_words(article.updated_at) %> ago 
              </small>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%=link_to "Edit this article", edit_article_path(article), class: "btn btn-primary btn-sm" %>
          <%=link_to "Delete this article", article_path(article), class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "Are you sure?"}%>
        </div>
      </div>
    </div>
  </div>
<% end %>
